# dependencies
node_modules
/.pnp
.pnp.js

# local configurations
.idea
.DS_Store

# next
.next

# playwright local artifacts
traces

# storybook
storybook-static

# testing
/coverage

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/tests/e2e/reports/*